{% extends 'base.html' %}
{% block title %} Home {% endblock title%}
{% block content %}

{% endblock content %}
{% block body %}


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shopping Cart</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

{% if cart_items %}

<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">

            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>

                </tr>
                </thead>
                <tbody class="align-middle">
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td class="align-middle">
                        <form action="{% url 'change_quantity' item.id  %}" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="quantity" value="{{ item.quantity }}"
                                       min="1" max="100" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </td>
                    <td>{{ item.total_price }}</td>
                    <td class="align-middle">
                        <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-sm text-dark p-0">X</a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>

            <center><a href="/shop/" class="btn btn-light py-2 px-3 mt-5 "> Return to Shop </a></center>

        </div>
        <div class="col-lg-4">
            <form class="mb-5" action="">
                <div class="input-group">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">{{ subtotal }}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">{{ shipping_charge }}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">{{ total }}</h5>
                    </div>

                    <a href="/checkout/" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->


{% else %}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 text-center">
            <h2>Your cart is empty,Continue to shop...!!!</h2>
            <a href="/shop/" class="btn btn-light py-2 px-3 mt-5">Return to Shop</a>
        </div>
    </div>
</div>
{% endif %}



{% endblock body %}